/******************************************************************************/
/*                                                                            */
/* @copyright module                                                          */
/*                                                                            */
/* Theme: Default                                                             */
/*                                                                            */
/* This file is designed for use with Internet Explorer.                                                                 */
/*                                                                  */
/*                                                                  */
/* This CSS file was programatically generated using the configuration information from CssStyles_LatinI.properties.                                                                 */
/*                                                                  */
/*                                                                            */
/******************************************************************************/
/*  NOTE:  Comments inside CSS files cannot be nested inside each other.      */
/******************************************************************************/

/******************************************************************************/
/* General styles                                                             */
/******************************************************************************/

table, tr, td, select, input, form, li, p, textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

pre {
    font-family: monospace;
    font-size: x-small;
}

a, .wpsLink, a:active, .wpsLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #3366CC;
}

a:visited, .wpsLink:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #666699;
}

a:hover, .wpsLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #6699CC;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #FFFFFF;
    margin: 0;
}

ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}


/******************************************************************************/
/* Styles used in the themes                                                  */
/* Portlets should not use these styles since they may not be in all themes.  */
/******************************************************************************/

/* TOOL BAR */

/* Bar under border containing the page group dropdown and login, etc. buttons */
.wpsToolBar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #CFD9E5;
    color: #666666;


    border-top: 1px solid #FFFFFF;
    border-right: 0px none #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 0px 4px;
    margin: 0px;

}

/* Bar under border containing the page group dropdown and login, etc. buttons */
.wpsToolBarIcon {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #CFD9E5;
    color: #666666;


    border-top: 1px solid #FFFFFF;
    border-right: 0px none #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 0px 0px;
    margin: 0px;

}

/* Bar under border containing the page group dropdown and login, etc. buttons */
.wpsToolBarIconOn {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #3D67bb;
    color: #666666;


    border-top: 1px solid #FFFFFF;
    border-right: 0px none #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 0px 0px;
    margin: 0px;

}

/* Link color for the text on the tool bar */
.wpsToolBarLink, .wpsToolBarLink:visited, .wpsToolBarLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color:#666666;
    text-decoration: none;
}

/* Vertical separator between tool bar and place bar */
.wpsToolBarSeparator {
    background-color: #FFFFFF;
}

/* Background for the banner.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
/* RATLC0116224
.wpsToolbarBannerBackground {


    background-color: #CFD9E5;
    background-image: url("banner.jpg");
    background-position: left bottom;
    background-repeat: repeat-x;
    border-top: 1px solid #FFFFFF;
    border-right: 0px none #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    padding: 0px 0px;
    margin: 0px;

}
*/

/* LINK BAR */

/* Bar under toolbar that shows links to customizer and assign permissions portlets */
.wpsLinkBar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #FFFFFF;
    color: #FFFFFF;
    background-repeat: no-repeat;
}

/* Link color for the text which can be found on the place bar outside of tabs */
.wpsLinkBarLink, .wpsLinkBarLink:visited, .wpsLinkBarLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color:#817279;
    text-decoration: underline;
}



/* PLACE BAR */

/* Bar under toolbar that shows the places */
.wpsPlaceBar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #8956A4;
    color: #FFFFFF;
    background-repeat: no-repeat;


    border-bottom: 1px solid #FFFFFF;

 }

/* Link color for the text which can be found on the place bar outside of tabs */
.wpsPlaceBarLink, .wpsPlaceBarLink:visited, .wpsPlaceBarLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color:#817279;
    text-decoration: none;
}

/* 3D highlight for Place bar */
.wpsPlaceBar3dHighlight {
    background-color: #FF00FF;
}

/* 3D shadow for Place bar */
.wpsPlaceBar3dShadow {
    background-color: #817279;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;

}

/* Selected tab on Place bar */
.wpsSelectedPlace, .wpsSelectedPlace:visited, .wpsSelectedPlace:hover, .wpsSelectedPlace:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #FFFFFF;
    text-decoration: none;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 4px 4px;
    margin: 0px;

}

/* Link in Selected tab on Place bar */
.wpsSelectedPlaceLink, .wpsSelectedPlaceLink:visited, .wpsSelectedPlaceLink:hover, .wpsSelectedPlaceLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #FFFFFF;
    text-decoration: none;
}

/* 3D highlight on selected tab on Place bar */
.wpsSelectedPlace3dHighlight {
    background-color: #B6B7D3;
}

/* 3D shadow on selected tab on Place bar */
.wpsSelectedPlace3dShadow {
    background-color: #5D5E96;
}

/* Unselected tabs on Place bar */
.wpsUnSelectedPlace, .wpsUnSelectedPlace:visited, .wpsUnSelectedPlace:hover, .wpsUnSelectedPlace:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #FFFFFF;
    background-color: #3D67BB;
    text-decoration: none;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 4px 4px;
    margin: 0px;

}

/* Link in Unselected tabs on Place bar */
.wpsUnSelectedPlaceLink, .wpsUnSelectedPlaceLink:visited, .wpsUnSelectedPlaceLink:hover, .wpsUnSelectedPlaceLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #FFFFFF;
    background-color: #3D67BB;
    text-decoration: none;
}

/* 3D highlight on unselected tabs on Place bar */
.wpsUnSelectedPlace3dHighlight {
    background-color: #3D67BB;
}

/* 3D shadow on unselected tabs on Place bar */
.wpsUnSelectedPlace3dShadow {
    background-color: #3D67BB;
}


/* PAGE BAR */

/* Bar under place bar that shows the pages */
.wpsPageBar {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #CFD9E5;


    border-bottom: 1px solid #FFFFFF;

 }

/* Link color for the text which can be found on the page bar outside of tabs */
.wpsPageBarLink, .wpsPageBarLink:visited, .wpsPageBarLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-decoration: none;
}

/* 3D highlight for Page bar */
.wpsPageBar3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow for Page bar */
.wpsPageBar3dShadow {
    background-color: #9999BB;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;

}

/* Selected tab on Page bar */
.wpsSelectedPage, .wpsSelectedPage:visited, .wpsSelectedPage:hover, .wpsSelectedPage:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #E5EFF7;
    text-decoration: none;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 4px 4px;
    margin: 0px;

}

/* Link in Selected tab on Page bar */
.wpsSelectedPageLink, .wpsSelectedPageLink:visited, .wpsSelectedPageLink:hover, .wpsSelectedPageLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #E5EFF7;
    text-decoration: none;
}

/* 3D highlight on selected tab on Page bar */
.wpsSelectedPage3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow on selected tab on Page bar */
.wpsSelectedPage3dShadow {
    background-color: #B74405;
}

/* Unselected tabs on Page bar */
.wpsUnSelectedPage, .wpsUnSelectedPage:visited, .wpsUnSelectedPage:hover, .wpsUnSelectedPage:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #4D4348;
    background-color: #C3CDD9;
    text-decoration: none;


    border-left: 0px none #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding: 4px 4px;
    margin: 0px;

}

/* Link in Unselected tabs on Page bar */
.wpsUnSelectedPageLink, .wpsUnSelectedPageLink:visited, .wpsUnSelectedPageLink:hover, .wpsUnSelectedPageLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #4D4348;
    background-color: #C3CDD9;
    text-decoration: none;
}

/* 3D highlight on unselected tabs on Page bar */
.wpsUnSelectedPage3dHighlight {
    background-color: #FD8C3E;
}

/* 3D shadow on unselected tabs on Page bar */
.wpsUnSelectedPage3dShadow {
    background-color: #B74405;
}


/******************************************************************************/
/* Styles used in the skins                                                   */
/* These styles need to be defined in all themes for proper skin operation.   */
/******************************************************************************/

/* TREE NAVIGATION */

/* Selected node in the tree navigation control - New in v4.2 */
.wpsNavSelectedNode, .wpsNavSelectedNode:visited, .wpsNavSelectedNode:hover, .wpsNavSelectedNode:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #ffffff;
    text-decoration: none;
}

/* Unselected node in the tree navigation control - New in v4.2 */
.wpsNavUnSelectedNode, .wpsNavUnSelectedNode:visited, .wpsNavUnSelectedNode:hover, .wpsNavUnSelectedNode:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #EFEFEF;
    text-decoration: none;
}

/* Unselectable node in the tree navigation control - New in v4.2 */
.wpsNavUnSelectableNode, .wpsNavUnSelectableNode:visited, .wpsNavUnSelectableNode:hover, .wpsNavUnSelectableNode:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #aaaaaa;
    background-color: #EFEFEF;
    text-decoration: none;
}

/* Top level node in the tree navigation control - New in v4.2 */
.wpsNavLevel1 {
    font-weight: bold;
}

/* Size of icon on navigation node - such as show tools' edit icon - New in v5 */
.wpsNavNodeIcon {
    width: 12px;
    height: 12px;
}

/* Size of expand/collapse icon - New in v5 */
.wpsNavExpandCollapseIcon {
    width: 14px;
    height: 14px;
}


/* PORTLET TITLE */

/* used on portlet titlebar */
.wpsPortletTitle {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #CFD9E5;
    color: #333333;
}

/* used on the background of portlet skin icons - New in v5 */
.wpsPortletTitleIconBackground {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #A3B6CC;
    color: #FFFFFF;


    border-right: 0px none #FFFFFF;
    border-left: 1px solid #FFFFFF;
    margin: 0px;

}

/* used on the background of portlet skin tools icons - New in v5 */
.wpsPortletTitleToolsIconBackground {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #3D67BB;
    color: #FFFFFF;


    border-right: 0px none #FFFFFF;
    border-left: 1px solid #FFFFFF;
    margin: 0px;

}

/* Size of portlet titlebar icon - New in v5 */
.wpsPortletTitleIcon {
    width: 12px;
    height: 12px;
}

/* Non-standard sized portlet titlebar icon - New in v5 */
/* Use this style if your skin icons aren't 12 x 12 px.  This still enables resizing of the
   icons via CSS for accessibility. When scaling non-standard sized icons, you don't know the
   original size so it will look irregular.  Use em units for scaling to make the size relative
   to the font size. By default, this style has no definition. */
.wpsPortletTitleIconNonStandardSize, .wpsPortletTitleToolsIconNonStandardSize {
}


/******************************************************************************/
/* Styles for special portlets                                                */
/* These styles are reserved for IBM administrative portlets.                 */
/* General portlets should not use these styles as they are subject to change.*/
/******************************************************************************/

/* ADMINISTRATION PORTLETS */

/* Header bar and task manager selected tab*/
.wpsTableAdminHead {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #CCCCCC;
}

/* Color for separator lines - matches icon background */
.wpsAdminHeadSeparator {
    background-color: #999999;
}

/* Status Message display - New in v5 */
.wpsStatusMsg {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #000000;
    background-color: #FFFFFF;

    margin: 0px;
    border: solid 1px #b0a8a8;

}


/* WELCOME/INSTRUCTION PORTLET */

/* Text for the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionText {
    color: #405380;
    margin: 0.6em 0px 0px 0px;
}

/* Text that is emphasized in the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionText em {
     font-weight: bold;
     font-style: normal;
     color: #8A59A6;
}

/* Reduces space between paragraphs in the welcome/instruction portlet - New in v5 */
/* General portlets should not use this style since it may be deleted in a future release. */
.wpsInstructionHeadText {
     font-weight: bold;
     font-size: small;
     color: #405380;
}


/******************************************************************************/
/* Styles used in portlets                                                    */
/*                                                                            */
/*   Portlets should only use styles in this section.                         */
/*   They should not use any of the styles defined in other sections.         */
/******************************************************************************/

/* PORLTET ACTION BUTTONS */

/* Text for tasks on header bar. Note that the text color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
.wpsTaskIconText, .portlet-dlg-icon-label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;


    color: #001F66;
    white-space: nowrap;

        /* Comment to hide styles for legacy browsers from modern browsers.
    color: #000000;
        */
}

/* Text for disabled tasks on header bar. Note that the text color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
.wpsTaskDisabledIconText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;


    white-space: nowrap;
    color: #8F9CB3;

}

/*
 Table surrounding the task on header bar. This style is present to disable the border="1" in
 the markup which was necessary to support legacy browsers.
 New in v5 */
.wpsTaskIconBorderTable, .wpsTaskDisabledIconBorderTable {


    border: 0px;

}

/* Background behind the task icon text.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
/* RATLC0116224
.wpsTaskIconTextBackground {


    background-color: #C3D3E6;
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border: 1px solid #405380;
    padding: 4px 16px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}
*/

/* Background behind the disabled task icon text.  Note that the background color is hidden from
   legacy browsers for consistency, not because it can't handle the attribute.
   New in v5 */
/* RATLC0116224
.wpsTaskDisabledIconTextBackground {


    background-color: #C3D3E6;
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border: 1px solid #8F9CB3;
    padding: 4px 16px;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}
*/

/* Text labels for icons in portlet body - New in v5 */
.wpsDialogIconText, .portlet-icon-label {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #001F66;
}

/* Text labels for disabled icons in portlet body */
.wpsDialogDisabledIconText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #8F9CB3;
}

/* Background for dialog icon - New in v5 */
/* RATLC0116224
.wpsDialogIconBackground {
    text-align: center;
    vertical-align: middle;


    background-color: #C3D3E6;
    background-image: url("DialogIconBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border-top: 1px solid #405380;
    border-right: 0px none #405380;
    border-bottom: 1px solid #405380;
    border-left: 1px solid #405380;
    padding: 0px 0px;
    margin: 0px;

}
*/

/* Background for dialog icon text - New in v5 */
/* RATLC0116224
.wpsDialogIconTextBackground {
    text-align: center;
    vertical-align: middle;


    background-color: #C3D3E6;
    background-image: url("DialogIconTextBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border-top: 1px solid #405380;
    border-right: 1px solid #405380;
    border-bottom: 1px solid #405380;
    border-left: 0px none #405380;
    padding: 2px 4px;
    margin: 0px;
    white-space: nowrap;

}
*/

/* Background for disabled dialog icon - New in v5 */
/* RATLC0116224
.wpsDialogDisabledIconBackground {
    text-align: center;
    vertical-align: middle;


    background-color: #C3D3E6;
    background-image: url("DialogIconBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border-top: 1px solid #8F9CB3;
    border-right: 0px none #8F9CB3;
    border-bottom: 1px solid #8F9CB3;
    border-left: 1px solid #8F9CB3;
    padding: 0px 0px;
    margin: 0px;

}
*/

/* Background for dialog icon text - New in v5 */
/* RATLC0116224
.wpsDialogDisabledIconTextBackground {
    text-align: center;
    vertical-align: middle;


    background-color: #C3D3E6;
    background-image: url("DialogIconTextBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border-top: 1px solid #8F9CB3;
    border-right: 1px solid #8F9CB3;
    border-bottom: 1px solid #8F9CB3;
    border-left: 0px none #8F9CB3;
    padding: 2px 4px;
    margin: 0px;
    white-space: nowrap;

}
*/

/* Size of icon on a dialog button - New in v5 */
.wpsDialogIcon {
    width: 16px;
    height: 16px;
}


/* PORTLET BACKGROUNDS AND TEXT STYLES */

/* Standard background for portlet */
.wpsPortletBack {
    background-color: #FFFFFF;
}

/* Background for portlet in edit and configure mode */
.wpsEditBack, .wpsConfigureBack {
    background-color: #FFFFFF;
}

/* Panel background for portion of advanced options - New in v5 */
.wpsAdvancedOptions {
    background-color: #e4e4e4;


    border: solid 1px #44466F;
    margin-left: 10px;


}

/* Background with emphasis color for portlet */
.wpsPortletColorBack {
    background-color: #CCCCCC;
}

/* Text for header in standard portlet and portlet in edit mode */
.wpsPortletHead, .wpsEditHead {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #333333;
}

/* Text for section header in standard portlet and portlet in edit mode - New in v5 */
.portlet-section-header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #333333;
}

/* Text in body of standard portlet and portlet in edit mode - New in v5 */
.wpsPortletText, .wpsEditText, .wpsPortletSmText, .wpsEditSmText, .wpsPortletTinyText, .portlet-font {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
}

/* Text for copyright information - New in v5 */
.wpsCopyrightText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #999999;
}

/* Main portlet body style */
.wpsPortletBody {
}


/* PORTLET TABLES */

/* Text in row of table header */
.wpsTableHead {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #989898;
    text-align: left;
}

/* Standard text within table - New in v5 */
.wpsTableText, .portlet-section-body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

/* Standard table row */
.wpsTableRow, .wpsTableNrmRow {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #FFFFFF;
}

/* Text in a selected cell range - New in v5 */
.wpsTableSelectedRow, .portlet-section-selected {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
    background-color: #c5d1de;
}

/* Shaded table row - used to alternate row colors with standard row - New in v5 */
/* For the v5 look, we have intentionally disabled alternating shaded table rows because
   we have lines between the rows.  However, Netscape 4.x cannot display borders
   properly so we still use the alternating shaded rows on legacy browsers. */
.wpsTableShdRow, .portlet-section-alternate {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;

        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #ececec;
        */

}

/* Backward compatibility style to get lines between rows for WPS 4.x portlet tables - New in v5 */
/* Do not specify anything in these styles that you don't have to specify.  Because of CSS priorities,
   these styles will override any CSS on the actual <td> tag that isn't marked ! important. */
.wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td {


    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #aaaaaa;

}


/* Text links in table header row */
.wpsTableHeadLink, .wpsTableHeadLink:visited, .wpsTableHeadLink:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #989898;
}

/* Text of a subheading - New in v5 */
.portlet-section-subheader {
}    /* TODO: FINISH NEW STYLE DEFINITION */

/* Top-level table tag of table - New in v5 */
.wpsTable {


    border-width: 1px;
    border-style: solid;
    border-color: #aaaaaa;

}

/* Styles for left, middle and right cells of the header row - New in v5 */
.wpsTableHeadStart, .wpsTableHeadMiddle, .wpsTableHeadEnd {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #989898;
    text-align: left;


    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;

}

/* Styles for left, middle and right cells of the header row where the text is center aligned. - New in v5 */
.wpsTableHeadStartAlignCenter, .wpsTableHeadMiddleAlignCenter, .wpsTableHeadEndAlignCenter {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #989898;
    text-align: center;


    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;

}

/* Styles for the left, middle and right cells of the header row where the column contains numeric data. - New in v5 */
.wpsTableHeadStartNumeric, .wpsTableHeadMiddleNumeric, .wpsTableHeadEndNumeric {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #989898;
    text-align: right;


    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-style: none;
    border-color: #aaaaaa;

}

/* Styles for the left, middle, and right cells of a data row. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStart, .wpsTableDataMiddle, .wpsTableDataEnd {
    text-align: left;


    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;

}

/* Styles for the left, middle and right cells of a data row where the text is center aligned. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStartAlignCenter, .wpsTableDataMiddleAlignCenter, .wpsTableDataEndAlignCenter {
    text-align: center;


    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;

}

/* Styles for the left, middle and right cells of a data row where the data in the column is numeric. - New in v5 */
/* ! important is on some of these attributes to override the backward compatibility styles
   .wpsTableRow td, .wpsTableNrmRow td, .wpsTableShdRow td */
.wpsTableDataStartNumeric, .wpsTableDataMiddleNumeric, .wpsTableDataEndNumeric {
    text-align: right;


    border-width: 1px 0px 0px 0px ! important;
    border-style: solid ! important;
    border-color: #aaaaaa ! important;

}


/* PORTLET PAGING TABLES */

/* Styles for the top-level table tag and the cells containing the header, footer, and table body. - New in v5 */
.wpsPagingTable, .wpsPagingTableHeader, .wpsPagingTableFooter, .wpsPagingTableBody {


    border: 0px;

}

/* The size of icons in the paging header or footer - New in v5 */
.wpsPagingTableHeaderIcon, .wpsPagingTableFooterIcon {
    width: 16px;
    height: 16px;
}

/* The leftmost cell of the paging table header - New in v5 */
.wpsPagingTableHeaderStart
{
    background-color: #c5d1de;


    border-top: 1px solid #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 0px none #aaaaaa;
    border-left: 1px solid #aaaaaa;

}

/* All cells in the middle of the paging table header - New in v5 */
.wpsPagingTableHeaderMiddle {
    background-color: #c5d1de;


    border-top: 1px solid #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 0px none #aaaaaa;
    border-left: 0px none #aaaaaa;

}

/* The rightmost cell of the paging table header - New in v5 */
/* RATLC0116224
.wpsPagingTableHeaderEnd {
    background-image: url("PagingTableTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: transparent;

        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #c5d1de;
        */
}
*/

/* The leftmost cell of the paging footer - New in v5 */
.wpsPagingTableFooterStart
{
    background-color: #c5d1de;


    border-top: 0px none #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;

}

/* All cells in the middle of the paging table footer - New in v5 */
.wpsPagingTableFooterMiddle {
    background-color: #c5d1de;


    border-top: 0px none #aaaaaa;
    border-right: 0px none #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    border-left: 0px none #aaaaaa;

}

/* The rightmost cell of the paging table footer - New in v5 */
/* RATLC0116224
.wpsPagingTableFooterEnd {

    background-image: url("PagingTableBottomRight.gif");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: transparent;

        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #c5d1de;
        */
}
*/


/* PORTLET FORM-RELATED TEXT STYLES */

/* Text for form entryfields - New in v5 */
.wpsEditField, .portlet-form-input-field {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;


    border: 1px solid #999999;


}

/* Text for form buttons - New in v5 */
.wpsButtonText, .portlet-form-button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    
    color: #001F66;
    background-color: #C3D3E6;
    background-repeat: repeat-x;
    background-position: left center;
    border: 1px solid #405380;
    padding: 2px 11px;
    margin: 0px;
    text-align: center;
}

/*
/* RATLC0116224 Replaced by the class reference above.
.wpsButtonText, .portlet-form-button {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    
    color: #001F66;
    background-color: #C3D3E6;
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border: 1px solid #405380;
    padding: 2px 11px;
    margin: 0px;
    text-align: center;
}
*/

/* Text for disabled form buttons - New in v5 */
/* RATLC0116224
.wpsButtonDisabledText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;

    color: #C3D3E6;
    background-color: #c1d1e2;
    background-image: url("ButtonBackground.gif");
    background-repeat: repeat-x;
    background-position: left center;
    border: 1px solid #8F9CB3;
    padding: 2px 11px;
    margin: 0px;
    text-align: center;
}
*/

/* Text for form browse button <input type="file" ...> - New in v5 */
.wpsBrowseButton {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

/* Text for form element labels - New in v5 */
/* The wpsRequiredLabelText style should also used on the text explaining that the field is required even if it is in a footnote. */
.wpsLabelText, .portlet-form-field, .portlet-form-field-label, wpsRequiredLabelText {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #333333;
}

/* Strong text in form element labels where a value is required - New in v5 */
.wpsRequiredLabelText strong {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #ff0000;
}

/* Text for form element descriptions - New in v5 */
.wpsDescriptionText, .portlet-font-dim {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    color: #808080;
}

/* Text used for the descriptive label of the whole form (not the labels for fields) - New in v5 */
.portlet-form-label {
    color: #333333;
}


/* PORTLET MESSAGE AND INLINE HELP TEXT STYLES */

/* Text for error messages - New in v5 */
.wpsFieldErrorText, .portlet-msg-error {
    color: #C83030;
}

/* Text for warning messages - New in v5 */
.wpsFieldWarningText, .portlet-msg-alert {
    color: #333333;
}

/* Text for success messages - New in v5 */
.wpsFieldSuccessText, .portlet-msg-success {
    color: #333333;
}

/* Text for information messages -New in v5 */
.wpsFieldInfoText, .portlet-section-footer {
    color: #999999;
}

/* Text for inline help information - New in v5 */
.wpsInlineHelpText, .portlet-msg-info, .portlet-section-text {
    color: #666666;
}

/* Text for status messages such as "Progress: 80%" - New in v5 */
.portlet-msg-status {
    color: #333333;
}

/* Monospaced text for listboxes and other fields where columns need to line up - New in v5 */
.wpsFieldMonospaced {
    font-family: monospace;
    font-size: x-small;
}

/* PORTLET MENUS */

/* General menu settings such as background color, margins, etc. - New in v5 */
.portlet-menu {
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item - New in v5 */
.portlet-menu-item {
    background-color: #EEEEEE;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px;
}

/* Selected menu item - New in v5 */
.portlet-menu-item-selected {
    background-color: #aaaaaa;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item when the mouse hovers over it - New in v5 */
.portlet-menu-item-hover {
    background-color: #cccccc;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px;
}

/* Selected menu item when the mouse hovers over it - New in v5 */
.portlet-menu-item-hover-selected {
    background-color: #cccccc;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px;
}

/* Normal, unselected menu item that has sub-menus - New in v5 */
.portlet-menu-cascade-item {
    background-color: #eeeeee;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px 3px 3px 3px;
}

/* Normal, unselected menu item that has sub-menus - New in v5 */
.portlet-menu-cascade-item-selected {
    background-color:#cccccc;
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 3px 3px 3px 3px;
}

/* Descriptive text for the menu (e.g. in a help context below the menu) - New in v5 */
.portlet-menu-description {
}

/* Menu caption - New in v5 */
.portlet-menu-caption {
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
}


/* PORTLET TABS */

/* Bar area on which tabs are displayed - New in v5 */
.wpsPortletTabBar {
}

/* Area separating the tabs from the items below the tabs - New in v5 */
.wpsPortletTabBarSeparator {
    background-color: #95a5b9;


    margin: 0px;
    padding: 0px;
    height: 5px;

}

/* The table displaying all of the tabs - New in v5 */
.wpsPortletTabSet {


    border: 0px;
    background-color: transparent;

}

/* The area of the tab set where the unselected tabs are displayed - New in v5 */
.wpsPortletTab {


    border: 0px;
    background-color: transparent;


        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #D8D8D8;
        */
}

/* The area of the tab set where the selected tab is displayed - New in v5 */
.wpsPortletSelectedTab {


    border: 0px;
    background-color: transparent;


        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #cccccc;
        */
}

/* The top left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabTopStart {
    background-color: #e5ecf3;


    border-top: 1px solid #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;

}

/* The top center cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabTopCenter {
    background-color: #e5ecf3;


    border-top: 1px solid #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 0px none #95a5b9;

}

/* The top right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
/* RATLC0116224
.wpsPortletTabTopEnd {


    background: url("PortletTabTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    border-style: none;
    background-color: transparent;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;


        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #e5ecf3;
        */
}
*/

/* The middle left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabMiddleStart {
    background-color: #e5ecf3;


    border-top: 0px none #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;

}

/* The center cell of a 9 x 9 table displaying the unselected tab.  The tab text is displayed in this cell. - New in v5 */
.wpsPortletTabMiddleCenter {
    background-color: #e5ecf3;


    white-space: nowrap;
    border-style: none;

}

/* The middle right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabMiddleEnd {
    background-color: #e5ecf3;


    border-top: 0px none #95a5b9;
    border-right: 1px solid #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 0px none #95a5b9;

}

/* The bottom left cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomStart {
    background-color: #e5ecf3;


    border-top: 0px none #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;
    width: 5px;
    height: 5px;

}

/* The bottom center cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomCenter {
    background-color: #e5ecf3;


    border-style: none;

}

/* The bottom right cell of a 9 x 9 table displaying the unselected tab - New in v5 */
.wpsPortletTabBottomEnd {
    background-color: #e5ecf3;


    border-top: 0px none #95a5b9;
    border-right: 1px solid #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 0px none #95a5b9;
    width: 5px;
    height: 5px;

}


/* The top left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabTopStart {
    background-color: #95a5b9;


    border-top: 1px solid #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;

}

/* The top center cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabTopCenter {
    background-color: #95a5b9;


    border-top: 1px solid #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 0px none #95a5b9;

}

/* The top right cell of a 9 x 9 table displaying the selected tab - New in v5 */
/* RATLC0116224
.wpsPortletSelectedTabTopEnd {

    background: url("PortletSelectedTabTopRight.gif");
    background-repeat: no-repeat;
    background-position: right top;
    border-style: none;
    background-color: transparent;
    padding: 0px 2px 0px 2px;
    width: 5px;
    height: 5px;


        /* Comment to hide styles for legacy browsers from modern browsers.
    background-color: #95a5b9;
        */
}
*/

/* The middle left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabMiddleStart {
    background-color: #95a5b9;


    border-top: 0px none #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;

}

/* The center cell of a 9 x 9 table displaying the selected tab. The tab text is displayed in this cell. - New in v5 */
.wpsPortletSelectedTabMiddleCenter {
    background-color: #95a5b9;


    border-style: none;
    white-space: nowrap;

}

/* The middle right cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabMiddleEnd {
    background-color: #95a5b9;


    border-top: 0px none #95a5b9;
    border-right: 1px solid #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;

}

/* The bottom left cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomStart {
    background-color: #95a5b9;


    border-top: 0px none #95a5b9;
    border-right: 0px none #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 1px solid #95a5b9;
    width: 5px;
    height: 5px;

}

/* The bottom center cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomCenter {
    background-color: #95a5b9;


    border-style: none;

}

/* The bottom right cell of a 9 x 9 table displaying the selected tab - New in v5 */
.wpsPortletSelectedTabBottomEnd {
    background-color: #95a5b9;


    border-top: 0px none #95a5b9;
    border-right: 1px solid #95a5b9;
    border-bottom: 0px none #95a5b9;
    border-left: 0px none #95a5b9;
    width: 5px;
    height: 5px;

}

/* Link for tab text - New in v5 */
.wpsPortletTabLink, .wpsPortletTabLink:hover, .wpsPortletTabLink:visited, .wpsPortletTabLink:active {
    color: #333333;
}

/* Link for selected tab text - New in v5 */
.wpsPortletSelectedTabLink, .wpsPortletSelectedTabLink:hover, .wpsPortletSelectedTabLink:visited, .wpsPortletSelectedTabLink:active {
    color: #ffffff;
}


/* PORTLET TOOLBARS */

/* Bar area on which tools are displayed - New in v5 */
.wpsPortletToolbar {
    background-color: #c5d1de;


    border-top: 1px solid #e4edf5;
    border-right: 1px solid #95a5b9;
    border-bottom: 1px solid #95a5b9;
    border-left: 1px solid #e4edf5;

}

/*
 Section of the toolbar.  Usually there is only one.
 For the most part, this style is present to disable the border="1" in
 the markup which was necessary to support legacy browsers.
 New in v5 */
.wpsPortletToolbarSection {


   border-width: 0px;

}

/* Table displaying the tools in this section */
.wpsPortletToolbarSet {
}

/* A normal toolbar button */
.wpsPortletToolbarButton {
    background-color: #c5d1de;


    padding: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: #c5d1de;

}

/* A toolbar button with the mouse hovering over it */
.wpsPortletToolbarButtonRollover {
    background-color: #c5d1de;


    padding: 3px;
    border-top: 1px solid #e4edf5;
    border-right: 1px solid #95a5b9;
    border-bottom: 1px solid #95a5b9;
    border-left: 1px solid #e4edf5;

}

/* A toolbar button with the mouse button pressed or selected */
.wpsPortletToolbarButtonPressed {
    background-color: #dadfe5;


    padding: 3px;
    border-top: 1px solid #95a5b9;
    border-right: 1px solid #e4edf5;
    border-bottom: 1px solid #e4edf5;
    border-left: 1px solid #95a5b9;

}

/* A selected toolbar button */
.wpsPortletToolbarButtonSelected {
    background-color: #aeb8c4;


    padding: 3px;
    border-top: 1px solid #95a5b9;
    border-right: 1px solid #e4edf5;
    border-bottom: 1px solid #e4edf5;
    border-left: 1px solid #95a5b9;

}

/* A toolbar button with the mouse hovering over it */
.wpsPortletToolbarButtonSelectedRollover {
    background-color: #aeb8c4;


    padding: 3px;
    border-top: 1px solid #e4edf5;
    border-right: 1px solid #95a5b9;
    border-bottom: 1px solid #95a5b9;
    border-left: 1px solid #e4edf5;

}

/* An icon displayed on a toolbar button */
.wpsPortletToolbarButtonIcon {
    width: 16px;
    height: 16px;
}

/* A toolbar area displaying non-button controls such as text, or a dropdown */
.wpsPortletToolbarControl {


    padding: 3px;

}

/* Text on the toolbar */
.wpsPortletToolbarText {
    color: #333333;
}

/* A link on the toolbar */
.wpsPortletToolbarLink, .wpsPortletToolbarLink:hover, .wpsPortletToolbarLink:visited, .wpsPortletToolbarLink:active {
    color: #333333 ;
}


/* A separator between groups of toolbar items */
.wpsPortletToolbarSeparator {
    background-color: #95a5b9;


    width: 1px;
    margin: 0px;
    padding: 0px;
    border-top: 0px none #95a5b9;
    border-right: 1px solid #e4edf5;
    border-bottom: 0px none #e4edf5;
    border-left: 0px none #95a5b9;

}

/* A spacer between groups of toolbar items  */
.wpsPortletToolbarSpacer {


    padding: 0px 2px 0px 2px;

}

/* A separator between groups of toolbar items */
.wpsPortletToolbarHandle {
    background-color: #c5d1de;


    padding: 0px;
    margin: 0px;
    width: 1px;
    border-top: 1px solid #e4edf5;
    border-right: 1px solid #95a5b9;
    border-bottom: 1px solid #95a5b9;
    border-left: 1px solid #e4edf5;

}


/* BREADCRUMB TRAILS */

/* Area on which breadcrumb trails are displayed. Also text that is not clickable. - New in v5 */
.wpsBreadcrumbTrail {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
}

/* Clickable breadcrumb trail text - New in v5 */
.wpsBreadcrumbTrailLink, .wpsBreadcrumbTrailLink:hover, .wpsBreadcrumbTrailLink:visited, .wpsBreadcrumbTrailLink:active {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    font-weight: bold;
    color: #3366CC;
    text-decoration: underline;
}

/* GENERIC ACCENT AND 3-D COLORS */
/* These styles are provided so portlets can build UI areas with theme      */
/* color-coordinated accent colors and 3D effects other than gray. Only     */
/* use these classes when no other classes are available for the particular */
/* UI you need to build.                                                    */


/* Surface area in a portlet requiring an accent color.  Use this style      */
/* on the main "surface" which needs the color. This style may also be used  */
/* without the corresponding highlight and shadow colors if desired. - New in v5 */
.wpsPortletAccentArea {
    background-color: #c5d1de;
    color: #333333;
}

/* 3D highlight color for use with the accent area - New in v5 */
.wpsPortletAccentArea3DHighlight {
    background-color: #e4edf5;
    color: #333333;
}

/* 3D shadow color for use with the accent area - New in v5 */
.wpsPortletAccentArea3DShadow {
    background-color: #95a5b9;
    color: #333333;
}


/******************************************************************************/
/* Lotus Notes Portlet classes                                                */
/* General portlets should not use styles in this section.                    */
/******************************************************************************/

/* Background color and font settings for table cell that holds a weekday abbreviation (i.e. Fri)
in the Lotus Notes Calendar Portlet */
.weekday_header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
    background-color: #999999;
    color: #333333;
}

/* Background color and font settings for table cell that holds a day number (i.e 17) for months
other than the current month in the Lotus Notes Calendar Portlet */
.other_month_header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #E4E3E3;
    color: #7E7001;
    height: 20px;
}

/* Background color and font settings for table cell that holds a day number (i.e 17) for the current month
in the Lotus Notes Calendar Portlet */
.current_month_header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #CBDBF3;
    color: #333333;
    height: 20px;
}

/* Background color and font settings for empty table cells for months other than the current month
in the Lotus Notes Calendar Portlet */
.other_month_cell {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #F0F0F0;
}

/* Background color and font settings for empty table cells for the current month in the Lotus Notes Calendar Portlet */
.current_month_cell {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    background-color: #FFFFFF;
    color: Black;
}

/* Background color and font settings for table cell that holds the current day number and name (i.e 17 Wednesday)
in the Lotus Notes Calendar Portlet */
.current_day_header {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
    background-color: #92B5E6;
    color: #333333;
    height: 20px;
}

/* Background color and font settings for the current day number and name (i.e 17 Wednesday) text in the Lotus Notes Calendar Portlet */
a.current_day_header:link {
    background-color: transparent;
    color: #333333;
}

/* Background color and font settings for a day number (i.e 17) in a month other than the current month
in the Lotus Notes Calendar Portlet */
a.other_month_header:link {
    background-color: transparent;
    color: #0000ff;
}

/* Background color and font settings for a day number (i.e 17) in the current month in the Lotus Notes Calendar Portlet */
a.current_month_header:link {
    background-color: transparent;
    color: #0050C9;
}

/* Text displaying the place name */
.wpsPlaceName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: #EBEBEB;
}

/* End of Lotus Notes Calendar Portlet classes */

/******************************************************************************/
/* Lotus WP Portlet classes                                                   */
/* General portlets should not use styles in this section.                    */
/******************************************************************************/

a.wpsPersonName {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-decoration: none;
    color: blue;
}

a.wpsPersonName:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-decoration: none;
    color: blue;
}

a.wpsPersonName:hover {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: xx-small;
    text-decoration: underline;
    color: blue;
}

/* End Lotus WP classes */
